.gr {
    padding-top: 200px;
    font-family: monospace;
    font-size: large;
    font-size: x-large;
}

#m1 {
    width: 500;
    height: 475;
    padding-left: 40;
    padding-top: 45;
    float: left;
}