body {
    background-color: #000000f7;
    font-family: 'Helvetica';
}

h1 {
    text-align: center;
    color: rgb(12, 138, 29);

}

h2 {
    text-align: center;
    color: white;

}

h4 {

    color: white;
    padding-left: 615px;
}


#uname {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 30px;
    padding-left: 8px;
}

#Pass {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 30px;
    padding-left: 8px;

}


#login {


    text-decoration: none;
    background-color: green;
    border: 1px solid;
    padding: 10px;
    display: block;
    width: 160px;
    margin: 0 auto;
    border-radius: 10px;



}