body {
    background-color: rgb(43, 137, 220);
    color: rgb(12, 8, 8);
    margin: 0;
    font-family: rubik;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
  text-align: center;
}


.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: rgb(11, 89, 23);
    font-weight: lighter;
}
.card-eshwar {
    margin-top: 5px;
    color: rgb(11, 12, 89);
    font-weight:;
}


.card-image {
    height: 200px;
}

